.col-lg-12{
    font-size: 19px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

.col-lg-12 p{
    text-align: justify;
    text-justify: inter-word;
}

.col-lg-12 img{
    text-align: justify;
    text-justify: inter-word;
    width:80%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }